<h1>New Jobs</h1>

<!-- `@` is for variable names that are a class -->
<!-- remove original form -->
<!-- only need `=` if you're outputting into that type (e.g. HTML) -- e.g. `print` would not require an `=` -->

<%= render "form" %>